nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;

  .links {
    display: inline-block;
    text-align: right;
  }

  a {
    display: inline-block;
    margin-left: 20px;
    font-weight: 400;
    padding-bottom: 8px;
    border-bottom: 3px solid transparent;

    &:hover {
      border-color: white;
    }
  }
}
