* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat", serif;
  color: white;
}

html,
body {
  min-height: 100%;
}

body {
  background: radial-gradient(
    at top left,
    rgb(80, 139, 101) 0%,
    rgb(21, 189, 158) 100%
  );
  background-repeat: no-repeat;
}
p {
  margin: 16px auto;
  line-height: 1.5em;
}
